<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="servicePath" value="VideoIMService.exe" />
    <add key="serviceName" value="VideoIMService" />
    <add key="ipAddress" value="127.0.0.1" />
    <add key="port" value="2601" />
    <add key="courseId" value="10086" />
  </appSettings>
</configuration>